

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");



:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}



html * {
  margin: 0;
  font-family: var(--ff-secondary);
}

body {
  color: var(--clr-grey-3);
  background-image: linear-gradient(var(--clr-grey-10), white);
}


/* Heading */
h1 {
  text-align: center;
  margin: 80px 0;
  color: var(--clr-gold);

  /* Not working */
  /* text-transform: capitalize; */ 
}

main {
  width: 60%;
  margin: 0 auto;
  min-width: var(--fixed-width);
  max-width: 700px;
}

.question-block {
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: var(--radius);
  box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.2);
}

.question {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.answers {
  border-top: 0.1px var(--clr-grey-8) solid;
  margin-top: 5px;
  padding-top: 10px;
  color: var(--clr-grey-6);
  font-size: 0.9rem;
}

.invisible {
  display: none;
}

.dropDownBtn {
  background-color: transparent;
  border: 3px var(--clr-gold) solid;
  border-radius: 5px;
  
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.5s;
}

.dropDownBtn i {
  color: var(--clr-gold);
  font-family: Arial, Helvetica, sans-serif;
}

.dropDownBtn:hover {
  transform: rotate(90deg);
  cursor: pointer;
}


